.download-button {
  width: 100%;
  height: 0;
  padding-bottom: 30%;

  background: #444444;
  background-image: url(./img/icon-download.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}
